HELP.md
target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**
!**/src/test/**

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/

### VS Code ###
.vscode/
demo-entity/src/test/
demo-test/src/main/resources/
demo-web/src/main/java/com/linw/demoweb/base/controller/
demo-web/src/main/java/com/linw/demoweb/controller/user/
demo-web/src/main/java/com/linw/demoweb/mapper/
demo-web/src/main/resources/static/
demo-web/src/main/resources/templates/
