<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE generatorConfiguration
  PUBLIC "-//mybatis.org//DTD MyBatis Generator Configuration 1.0//EN"
  "http://mybatis.org/dtd/mybatis-generator-config_1_0.dtd">

<generatorConfiguration>

	<context id="deom" targetRuntime="MyBatis3" defaultModelType="flat">
		
		<property name="javaFileEncoding" value="UTF-8"/>
	
		<property name="autoDelimitKeywords" value="true"/>
		<property name="beginningDelimiter" value="`"/>
		<property name="endingDelimiter" value="`"/>

        <!-- 格式化java代码 -->
        <property name="javaFormatter" value="org.mybatis.generator.api.dom.DefaultJavaFormatter"/>
        <!-- 格式化XML代码 -->
        <property name="xmlFormatter" value="org.mybatis.generator.api.dom.DefaultXmlFormatter"/>

		<!-- 
		<plugin type="org.mybatis.generator.plugins.SerializablePlugin"></plugin>
		
		<plugin type="org.mybatis.generator.plugins.ToStringPlugin"></plugin>
		 -->
		<plugin type="org.mybatis.generator.plugins.RenameExampleClassPlugin">
			<property name="searchString" value="Example$" />
			<property name="replaceString" value="Criteria" />
		</plugin>
		
		<plugin type="com.linw.demoentity.util.mybatis.Mybatis3PluginByLombok" >
            <property name="hasLombok" value="true"/>
        </plugin>
		
		<plugin type="com.linw.demoentity.util.mybatis.Mybatis3PluginByInsertBatch"></plugin>
		<plugin type="com.linw.demoentity.util.mybatis.Mybatis3PluginByInsertBatchSel"></plugin>
		<plugin type="com.linw.demoentity.util.mybatis.Mybatis3PluginByInsertReturn"></plugin>
		<plugin type="com.linw.demoentity.util.mybatis.Mybatis3PluginByLimit"></plugin>
		<plugin type="com.linw.demoentity.util.mybatis.Mybatis3PluginBySelectOne"></plugin>
		<plugin type="com.linw.demoentity.util.mybatis.Mybatis3PluginByUpdatePkSelVer"></plugin>
		<plugin type="com.linw.demoentity.util.mybatis.Mybatis3PluginByUpdatePkVer"></plugin>
		
		<!-- 使用自定义的插件 -->
        <commentGenerator type="com.linw.demoentity.util.mybatis.Mybatis3AndJpaGenerator">
			<!-- 是否去除自动生成的注释 true：是 ： false:否  -->
			<property name="suppressAllComments" value="false" />
			<property name="suppressDate" value="true" />
            <property name="addRemarkComments" value="true"/>
        </commentGenerator>

		<jdbcConnection driverClass="com.mysql.jdbc.Driver"
			connectionURL="jdbc:mysql://192.168.7.124:3306/demo?tinyInt1isBit=false&amp;serverTimezone=UTC&amp;useSSL=false"
			userId="root" password="root">
			<!-- 针对oracle数据库 -->
		    <property name="remarksReporting" value="true"></property>
		    <!-- 针对mysql数据库 -->
		    <property name="useInformationSchema" value="true"></property>
		</jdbcConnection>
		
		<javaTypeResolver>
			<property name="forceBigDecimals" value="false" />
		</javaTypeResolver>


		<javaModelGenerator targetPackage="com.linw.demoentity.entity" targetProject="demo-entity/src/main/java">
			<property name="enableSubPackages" value="true" />
			<property name="trimStrings" value="true" />
            <!--所有实体类继承BasePO类-->
            <property name="rootClass" value="com.linw.demoentity.base.entity.BaseEntity" />
		</javaModelGenerator>

		<sqlMapGenerator targetPackage="com.linw.demoentity.mapper" targetProject="demo-entity/src/main/resources">
			<property name="enableSubPackages" value="true" />
		</sqlMapGenerator>

		<javaClientGenerator type="XMLMAPPER" targetPackage="com.linw.demoentity.mapper" targetProject="demo-entity/src/main/java">
			<property name="enableSubPackages" value="true" />
		</javaClientGenerator>
		


		<table tableName="t_system_user" domainObjectName="SystemUser" >
			<columnOverride column="delete" jdbcType="TINYINT" javaType="java.lang.Integer" />
		</table>
	</context>

</generatorConfiguration>